# MongoDB Atlas connection string
# Replace <username>, <password>, <cluster-url>, and <db-name>
MONGODB_URI=mongodb://labinamehrin_db_user:%21SSLtrR8kQNC4QT@ac-gbl9cwg-shard-00-00.xjk5thi.mongodb.net:27017,ac-gbl9cwg-shard-00-01.xjk5thi.mongodb.net:27017,ac-gbl9cwg-shard-00-02.xjk5thi.mongodb.net:27017/cse471?ssl=true&authSource=admin&replicaSet=atlas-h6md5a-shard-0&retryWrites=true&w=majority&appName=Cluster0
# Required by auth helper
JWT_SECRET=3f8f6f5cf9f54ed5bf1c29e2b0d6c4dd9d8a2e64a7b84f40ad8c1fb3e781c6b9
