#MONGO_URI=mongodb://127.0.0.1:27017/ShohojTrust
# Use local MongoDB for authentication and app data
MONGO_URI=mongodb://127.0.0.1:27017/shohojtrust
MONGO_URI_FALLBACK=your_mongodb_fallback_uri
JWT_SECRET=your_jwt_secret
PORT=5000
#PDFSHIFT_API_KEY=your_pdfshift_api_key
PDFSHIFT_API_KEY=your_pdfshift_api_key
BREVO_API_KEY=your_brevo_api_key
EMAIL_FROM=your_email@example.com
CLIENT_URL=http://localhost:5173
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_CURRENCY=bdt
STRIPE_AMOUNT_MULTIPLIER=100
